.classpath
.myeclipse/
.mymetadata
.project
*.iml
.settings/
.idea/
/target/
/bin/
/src/main/webapp/WEB-INF/classes/
Thumbs.db
.DS_Store
/src/main/webapp/WEB-INF/lib/
/target
/src/main/webapp/uploads/
/src/main/webapp/uploadfiles/